@import "fonts";
@import "colors";
@import "transition";

html,
body {
  font-size: 1rem;
  font-family: $font-open-sans;
  color: $white;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;

  &:hover {
    color: $white;
  }
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

input,
textarea {
  &:focus {
    border-color: #ced4da !important;
  }
}

select {
  border: none !important;
  cursor: pointer;
}

/*======================
  === Welcome banner ===
  ======================*/

.welcome-banner {
  position: relative;
  background-color: $header-background;

  .welcome-banner-background {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

/*==============
  === Header ===
  ==============*/

.header {
  max-width: 1600px;
  margin: 0 auto;

  .feeder-logo-wrapper {
    padding: 27px 0 27px 100px;
  }

  .feeder-logo {
    display: inline-block;

    svg {
      path {
        transition: $transition;
      }
      &:hover {
        path {
          fill: $white-hover;
        }
      }
    }
  }

  .menu {
    display: inline-block;

    .navbar-collapse {
      margin: 0;
      padding: 0;
      text-align: right;
    }

    .nav-item {
      list-style: none;
      display: inline-block;
      margin: 0 12.5px;
    }

    .nav-link {
      color: $white;
      font-size: 0.6875rem;
      letter-spacing: 3.4px;
      line-height: 19px;
      text-transform: uppercase;
      padding: 0;
      transition: $transition;

      &:hover {
        color: $white-hover;
      }
    }
  }
}

/*==============
  === Search ===
  ==============*/

.search-wrapper {
  padding-left: 55px;
  padding-right: 55px;
}

.search {
  display: inline-block;

  svg {
    path {
      transition: $transition;
    }
    &:hover {
      path {
        fill: $white-hover;
      }
    }
  }
}

/*===============
  === Heading ===
  ===============*/

.heading {
  text-align: center;
  position: relative;

  .wrapper {
    padding: 270px 0 350px;
  }

  h4 {
    font-family: $font-raleway;
    font-size: 0.6875rem;
    font-weight: bold;
    letter-spacing: 3.4px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  h2 {
    width: 551px;
    margin: 0 auto 28px;
    font-family: $font-open-sans;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 58px;
  }

  p {
    font-family: $font-open-sans;
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
  }
}

/*=============
  === Arrow ===
  =============*/

.arrow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);

  svg {
    polygon {
      transition: $transition;
    }
    &:hover {
      polygon {
        fill: $white-hover;
      }
    }
  }
}

/*=================
  === About us ====
  =================*/

.about-us {
  text-align: center;

  .wrapper {
    padding: 75px 0 95px;
  }

  h3 {
    color: $heading;
    font-size: 2rem;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 39px;
  }

  p {
    width: 900px;
    margin: 0 auto;
    color: $text;
    margin-bottom: 0;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 30px;
  }
}

/*====================
  === Introduction ===
  ====================*/

.introduction {
  .wrapper {
    padding: 140.5px 229px 140.5px 78.72px;
  }

  .left {
    background-color: $introduction-left;
    position: relative;

    .image-background {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .right {
    background-color: $introduction-right;
  }

  h3 {
    color: $heading;
    font-size: 2rem;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 40px;
  }

  p {
    width: 492.28px;
    color: $text;
    margin-bottom: 0;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 30px;
  }
}

/*=================
  === Portfolio ===
  =================*/

.portfolio {
  text-align: center;

  .wrapper {
    padding: 87.5px 0 104px;
  }

  h3 {
    color: $heading;
    font-size: 2rem;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 39px;
  }

  p {
    color: $text;
    margin-bottom: 55.5px;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 30px;
  }

  .filter {
    ul {
      margin: 0;
      margin-bottom: 60.5px;
      padding: 0;
    }

    .nav-item {
      list-style: none;
      display: inline-block;
    }

    .nav-link {
      display: inline-block;
      color: $filter-link;
      font-family: $font-raleway;
      padding: 0;
      padding-bottom: 8px;
      margin: 0 26.5px;
      font-size: 0.6875rem;
      font-weight: bold;
      letter-spacing: 3.4px;
      line-height: 11px;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: $transition;

      &:hover,
      &.active {
        border-bottom-color: $filter-link;
      }

      span {
        display: inline-block;
        margin-right: -3.4px;
      }
    }
  }

  .gallery {
    .items {
      margin: 0 auto 100.5px;
      display: flex;
      max-width: 1600px;
      min-height: 800px;
    }

    .item {
      display: flex;
      flex-direction: column;
      flex: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .flex-1 {
        flex: 1;
        cursor: pointer;

        &:hover {
          .print {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .flex-17 {
        flex: 1.7;
        cursor: pointer;

        &:hover {
          .print {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .first {
        background-color: $item-first;
        display: flex;
        position: relative;
      }

      .second {
        background-color: $item-second;
        display: flex;
        position: relative;
      }

      .third {
        background-color: $item-third;
        display: flex;
        position: relative;
      }

      .print {
        visibility: hidden;
        opacity: 0;
        transition: $transition-2;
        background-color: $item-active;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin: 23px 18px;
        z-index: 1;
      }

      h5 {
        color: $white;
        font-family: $font-raleway;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: 5.56px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      p {
        color: $white;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 30px;
        padding-bottom: 20px;
        margin-bottom: 0;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          width: 90px;
          height: 1px;
          background-color: $white;
        }
      }
    }
  }

  .btn-view-all {
    display: inline-block;
    color: $filter-link;
    font-family: $font-raleway;
    font-size: 0.6875rem;
    font-weight: bold;
    letter-spacing: 3.4px;
    line-height: 11px;
    text-transform: uppercase;
    padding: 16px 41px 15px;
    border: 2px solid $filter-link-border;
    transition: $transition;

    &:hover {
      color: $white;
      background-color: $filter-link-border;
    }
  }
}

/*=====================
  === Media queries ===
  =====================*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .portfolio {
    .gallery {
      .items {
        .item {
          height: 30vh !important;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .header {
    .feeder-logo-wrapper {
      padding-left: 0;
    }
    .navbar-dark {
      .navbar-toggler {
        border: none;
        background-color: $item-active;
        padding: 0;

        span {
          margin: 4px 12px;
        }
      }
    }
    .menu {
      .wrapper {
        padding: 10px 0;

        .nav-item {
          display: block;
          margin: 0;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .heading {
    .wrapper {
      padding: 19px 15px 50px;
    }
    h2 {
      width: auto;
    }
  }
  .arrow {
    bottom: 10px;
  }
  .introduction {
    .left {
      .image-background {
        position: static;
      }
    }
  }
  .portfolio {
    p {
      margin-bottom: 40px;
    }
    .filter {
      ul {
        margin-bottom: 40px;
      }
      .nav-item {
        display: block;
      }
    }
    .gallery {
      .items {
        display: block;
        max-width: 100%;
        min-height: auto;
        margin: 0;
        .item {
          height: 60vh;
          flex-direction: row;
          .flex-17 {
            flex: 1;
          }
          .print {
            margin: 15px;
          }
        }
      }
    }
    .btn-view-all {
      margin-top: 40px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .header {
    padding: 0 15px;
    .feeder-logo-wrapper {
      padding-left: 0;
    }
  }
  .about-us {
    .wrapper {
      padding: 40px 15px;
    }
    p {
      width: auto;
    }
  }
  .portfolio {
    .gallery {
      .items {
        min-height: 400px;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .search-wrapper {
    padding: 0;
  }
  .introduction {
    .wrapper {
      padding: 40px 15px;
    }
    p {
      width: auto;
    }
  }
  .portfolio {
    .wrapper {
      padding: 40px 0;
    }
    .gallery {
      .items {
        min-height: 50vh;
      }
    }
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
